{% load static %}
{% load upload_tags %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE HTML>
<html>
<head>
    <title></title>

    <link  href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
     <link href="{{ STATIC_PREFIX }}/css/jquery.fileupload-ui.css" rel="stylesheet" >
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-button.js"></script>

    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/scripts.js"></script>

    <style>
        body {
            padding-top: 60px;
        }
    </style>
    </head>
<body>


{% include 'topmenu.html' %}


<div class = "container" style = "padding-top:40px;">
    {% block content %}
        <div class="row">
            <div class="span4">
                <div class="well" style="padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li class="nav-header">Загрузка данных </li>
                        <li class="divider"></li>
                        <li><a href="{% url upload-new-pultdata  %} "><i class=" icon-download-alt"></i>Файл данных с пульта</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url upload-new-billdata  %} "><i class=" icon-download-alt"></i>Счета</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url upload-new-outcomedata  %} "><i class=" icon-download-alt"></i>Ушедшие</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url upload-new-incomedata  %} "><i class=" icon-download-alt"></i>Взятые</a></li>
                    </ul>
                </div>
            </div>
            <div class="span4">
                    <div class="well" style="padding: 8px 0;">
                        <ul class="nav nav-list">
                            <li class="nav-header">Просмотр и експорт данных </li>
                            <li class="divider"></li>
                            <li><a href="{% url cards-list 1,1,2012 %}"><i class="icon-list-alt"></i>Просмотр счетов и карточек</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url cards-list-income %}"><i class="icon-download-alt"></i>Взятые обьекты</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url cards-list-outcome %}"><i class="icon-trash"></i>Ушедшие обьекты</a></li>
                        </ul>
                    </div>
            </div>
        </div>


    {% endblock %}
</div>


    {% upload_js %}

    <script src="{{ STATIC_PREFIX }}js/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_PREFIX }}js/tmpl.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/load-image.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/canvas-to-blob.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/bootstrap-image-gallery.min.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery.iframe-transport.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery.fileupload.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery.fileupload-fp.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery.fileupload-ui.js"></script>
    <script src="{{ STATIC_PREFIX }}js/locale.js"></script>
    <script src="{{ STATIC_PREFIX }}js/main.js"></script>


</body>
</html>