{% extends 'base.html' %}

{% block title %}
    Вход
{% endblock %}

{% block content %}

    {% if form.errors %}

        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Неверный логин или пароль !</strong>
        </div>
    {% endif %}

    <form method="post" action="{% url django.contrib.auth.views.login %}">
    {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <button class="btn" type="submit">Войти</button>

        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}