<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Учет затрат на мобильную связь</a>
          <div class="nav-collapse">
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Загрузка данных <strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url upload-new-pultdata  %} ">Файл данных с пульта</a></li>
                      <li><a href="{% url upload-new-billdata  %} ">Счета</a></li>
                        <li><a href="{% url upload-new-outcomedata  %} ">Ушедшие</a></li>
                        <li><a href="{% url upload-new-incomedata  %} ">Взятые</a></li>
                    </ul>
                  </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Просмотр и експорт данных <strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url cards-list 1,1,2012 %}">Просмотр счетов и карточек</a></li>
                        <li><a href="{% url cards-list-income %}">Взятые обьекты</a></li>
                        <li><a href="{% url cards-list-outcome %}">Ушедшие обьекты</a></li>
                    </ul>
                </li>
            </ul>
              <ul class="nav pull-right">
                  {% if user.is_authenticated %}
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> Вы вошли как {{ user.first_name }} {{ user.last_name }}<strong class="caret"></strong></a>
                          <ul class="dropdown-menu">
                              <li><a href="{% url logout %}"><i class="icon-off"></i>Выйти</a></li>
                          </ul>
                      </li>
                  {% else %}
                      <li><a href="{% url login %}"><i class="icon-user"></i> Войти</a></li>
                  {% endif %}
              </ul>
          </div>
        </div>
      </div>
    </div>