{% extends 'base.html' %}
{% load template_filters %}
{% block content %}

    <div class="container">
        <form class="well form-inline">
            <label class="control-label" for="select_month">Выберите месяц</label>
            <select id="select_month"  name="month">
                <option value="01"  {% ifequal '01' month %}selected="selected"{% endifequal %}>Январь</option>
                <option value="02"  {% ifequal '02' month %}selected="selected"{% endifequal %}>Февраль</option>
                <option value="03"  {% ifequal '03' month %}selected="selected"{% endifequal %}>Март</option>
                <option value="04"  {% ifequal '04' month %}selected="selected"{% endifequal %}>Апрель</option>
                <option value="05"  {% ifequal '05' month %}selected="selected"{% endifequal %}>Май</option>
                <option value="06"  {% ifequal '06' month %}selected="selected"{% endifequal %}>Июнь</option>
                <option value="07"  {% ifequal '07' month %}selected="selected"{% endifequal %}>Июль</option>
                <option value="08"  {% ifequal '08' month %}selected="selected"{% endifequal %}>Август</option>
                <option value="09"  {% ifequal '09' month %}selected="selected"{% endifequal %}>Сентябрь</option>
                <option value="10"  {% ifequal '10' month %}selected="selected"{% endifequal %}>Октябрь</option>
                <option value="11"  {% ifequal '11' month %}selected="selected"{% endifequal %}>Ноябрь</option>
                <option value="12"  {% ifequal '12' month %}selected="selected"{% endifequal %}>Декабрь</option>
            </select>
            <label class="control-label" for="select_year">Выберите год</label>
            <select id="select_year"  name="year">
                {% for y in years %}
                    <option value="{{ y }}" {% ifequal y year %}selected="selected"{% endifequal %}>{{ y }}</option>
                {% endfor %}
            </select>
        <a class="btn btn-primary" onclick="document.location = '../../'+$('#select_month')[0].options[$('#select_month')[0].selectedIndex].value+'/'+$('#select_year')[0].options[$('#select_year')[0].selectedIndex].value+'/ ';">Выбрать дату</a>
        </form>
        <section class="well">
            <div class="btn-group"  data-toggle="buttons-checkbox">
                <a class="btn {% ifequal filter.parameter 'none' %} active btn-success {% else %} btn-info {% endifequal %} "  href="{% url set-filter 'none','none' %}">Выбрать все </a>
                <a class="btn  {% ifequal filter.parameter 'minmax' %} active btn-success{% else %} btn-info {% endifequal %}"  href="{% url set-filter 'order','minmax' %}">Сортировать по расходам &darr;</a>
                <a class="btn {% ifequal filter.parameter 'maxmin' %} active btn-success{% else %} btn-info {% endifequal %}"  href="{% url set-filter 'order','maxmin' %}">Сортировать по расходам &uarr;</a>
                <a class="btn{% ifequal filter.parameter 'free' %} active btn-success{% else %} btn-info {% endifequal %}"  href="{% url set-filter 'state','free'%}">Свободные</a>
                {% if overlimit %}
                <a class="btn btn-info"  href="{% url set-filter 'limit',100 %}"><i class=" icon-warning-sign"></i>Лимит в 100 грн превышен у {{ overlimit }} карточек</a>
                {% endif %}
            </div>
        </section>

        <section class="well row" style="margin-left: 0px;">
            {% if filials|first %}
                <div class='span5'>
                    <div class="control-group form-horizontal">
                        <a id="fbyf"  class="btn {% ifequal filter.type 'filial' %} active btn-success{% else %} btn-info {% endifequal %}"  href="{% url set-filter 'filial',filials|first %}">Отобрать по филиалу</a>
                        <select id="filial"  name="filial" onchange="$('a#fbyf')[0].href = '{% url set-filter 'filial','forrep'%}'.replace('forrep',$('#filial')[0].options[$('#filial')[0].selectedIndex].value);">
                            {% for f in filials %}
                                <option value="{{ f.name }}">{{ f.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}
            <div class="span5">
                <div class="control-group form-horizontal">
                    <a id="limit"  class="btn {% ifequal filter.type 'limit' %} active btn-success{% else %} btn-danger  {% endifequal %}"  href="{% url set-filter 'limit',limit %}">Превышен лимит в</a>
                    <div class="input-append">
                        <input class="span2" id="appendedInput" size="16" type="text" value="{{ limit }}" oninput="$('#limit')[0].href = '{% url set-filter 'limit',0 %}'.replace('0',$(this).prop('value'));">
                        <span class="add-on" >грн</span>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <div class="container">
        <section class="well">
            <a href="{% url export month year %}" class="btn btn-info">
                Экспорт в Excel
            </a>
        </section>

    </div>
    {% include 'paginator.html' %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Номер карты/канала</th>
            <th>Объект</th>
            <th>Местонахождение</th>
            <th>Номер концентратора</th>
            <th>Номер договора</th>
            <th>Дата заключения договора</th>
            <th>С кем заключён договор</th>
            <th>Начисленная абонплата </th>
            <th>Состояние</th>
        </tr>
        </thead>

        {% for card in cards %}
            <tbody>
            {% if card.cost or card|get_bill_by_month:date|first %}
            <tr>
                <td>
                    <a href="{{ card.get_absolute_url }}">
                        {{ card.number }}
                    </a>
                </td>
                <td>{{ card.object_set.all.0.name }}</td>
                <td>{{ card.object_set.all.0.address }} {% if card.object_set.all.0.branch.name   %}, {{ card.object_set.all.0.branch.name }}{% endif %}</td>
                <td>{{ card.object_set.all.0.hub.number }}</td>
                <td>{{ card.object_set.all.0.contract.number }}</td>
                <td>{{ card.object_set.all.0.contract.date }}</td>
                <td>{{ card.object_set.all.0.contract.contracted }}</td>
                <td>{% if card|get_bill_by_month:date %}{{ card|get_bill_by_month:date|first }} грн {% endif %}</td>
                <td>{{ card.get_state_display }}</td>
            </tr>
           {% endif %}
            </tbody>
        {% endfor %}
    </table>
    {% include 'paginator.html' %}
{% endblock %}