{% if is_paginated %}
    <div class="pagination">
        <ul>
            {% if page_obj.has_previous %}
                <li>
                    <a href="/manager/cards_list/page{{ page_obj.previous_page_number }}/{{ month }}/{{ year }}/"> << </a>
                </li>
                {% ifnotequal page_obj.previous_page_number 1%}
                    <li>
                        <a href="/manager/cards_list/page1/{{ month }}/{{ year }}/">1</a>
                    </li>
                    <li class="disabled"><a href="#">...</a></li>
                {% endifnotequal %}
                <li>
                    <a href="/manager/cards_list/page{{ page_obj.previous_page_number }}/{{ month }}/{{ year }}/">{{ page_obj.previous_page_number }}</a>
                </li>
            {% endif %}
            <li class="active">
                <a>{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
                <li>
                    <a href="/manager/cards_list/page{{ page_obj.next_page_number }}/{{ month }}/{{ year }}/">{{ page_obj.next_page_number }}</a>
                </li>
                {% ifnotequal page_obj.next_page_number page_obj.paginator.num_pages %}
                    <li class="disabled"><a href="#">...</a></li>
                    <li>
                        <a href="/manager/cards_list/page{{ page_obj.paginator.num_pages  }}/{{ month }}/{{ year }}/">{{ page_obj.paginator.num_pages  }}</a>
                    </li>
                {% endifnotequal %}
                <li>
                    <a href="/manager/cards_list/page{{ page_obj.next_page_number }}/{{ month }}/{{ year }}/">>></a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}