{% extends 'base.html' %}

{% block content %}

    <div class="page-header" >
        <h1>Загрузка данных по счетам</h1>
    </div>
     {% include "upload_form.html" %}
     <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>



{% endblock %}      